#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    transform: scale(0.75);
    position: absolute;
    top: -12rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 75vh;
}

.introContent {
    height: 50vh;
    width: 75vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.introName {
    color: seagreen;
}

.introTitle {
  display: block;
  margin-top: 1rem;
}

.introPara {
    margin-top: 1rem;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

